[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
testcontainers = "4.8.1"
pytest = "8.3.3"
sqlalchemy = "2.0.35"
psycopg2 = "2.9.9"

[dev-packages]

[requires]
python_version = "3.12"
